git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common==master
git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common[dispatcher]==master
mock
pytest
pytest-cov
