version: 2.1

checkout:
  post:
    - >
      if [ -n "$CI_PULL_REQUEST" ]; then
        PR_ID=${CI_PULL_REQUEST##*/}
        git fetch origin +refs/pull/$PR_ID/merge:
        git checkout -qf FETCH_HEAD
      fi

executors:
  py27:
    docker:
      - image: circleci/python:2.7

  py36:
    docker:
      - image: circleci/python:3.6

  wagon_generator:
    machine:
      image: ubuntu-1604:201903-01

commands:

  flake8:
    steps:
      - checkout
      - run: pip install flake8 --user
      - run:
          name: Run flake8
          command: flake8 fabric_plugin

  run_unittests:
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            pip install --user -r test-requirements.txt
            pip install --user .
      - run:
          name: run unittests
          command: |
            ~/.local/bin/pytest \
               --cov fabric_plugin --cov-report term-missing \
              --junitxml=test-results/fabric_plugin.xml \
              fabric_plugin/tests
      - store_test_results:
          path: test-results

  check_py3_compat:
    steps:
      - run:
          name: install futurize
          command: pip install future --user
      - run:
          # those modules contain code that futurize would want to change,
          # so let's just remove them so that it doesn't report on them
          # (there's no "exclude" functionality in futurize)
          name: remove compat modules
          command: |
            rm fabric_plugin/_compat.py
      - run:
          name: find python3-incompatible code
          command: |
            FUTURIZE="futurize ."
            while read line; do
              [[ "$line" =~ ^#.* ]] && continue
              FUTURIZE="${FUTURIZE} ${line}"
            done<.circleci/py3fixers
            echo "Running: $FUTURIZE"
            $FUTURIZE>futurize_diffs
      - run:
          name: check that there is no python3-incompatible code
          command: |
            if [[ -s futurize_diffs ]]; then
              echo "Python-3-incompatible code found"
              cat futurize_diffs
              exit 1
            fi
  generate_py27py36_wagon:
    steps:
      - run:
          name: Create Workspace Build directory.
          command: mkdir -p workspace/build
      - run:
          name: Build py27py36 Wagon
          command: |
              git clone https://github.com/cloudify-cosmo/cloudify-wagon-build-containers.git
              docker build -t cloudify-centos-7-wagon-builder cloudify-wagon-build-containers/centos_7_py2py3
              docker run -v ~/project/:/packaging cloudify-centos-7-wagon-builder
      - run:
          name: copy wagon to workspace
          command: cp *.wgn workspace/build/
      - persist_to_workspace:
          root: workspace
          paths:
            - build/*

  generate_rhel_py27py36_wagon:
    steps:
      - run:
          name: Create Workspace Build directory.
          command: mkdir -p workspace/build
      - run:
          name: Build RHEL py27py36 Wagon
          command: |
              git clone https://github.com/cloudify-cosmo/cloudify-wagon-build-containers.git
              docker build -t cloudify-redhat-7-wagon-builder cloudify-wagon-build-containers/redhat_7_py2py3 --build-arg USERNAME="$USERNAME" --build-arg PASSWORD="$PASSWORD"
              docker run -v ~/project/:/packaging cloudify-redhat-7-wagon-builder
      - run:
          name: copy wagon to workspace
          command: cp *.wgn workspace/build/
      - persist_to_workspace:
          root: workspace
          paths:
            - build/*
  validate_documentation:
    steps:
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote --recursive
      - run:
          name: Download pip
          command: curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
      - run:
          name: Install pip
          command: sudo python get-pip.py
      - run:
          name: Install virtualenv
          command: pip install --user virtualenv
      - run:
          name: Init virtualenv
          command: virtualenv env
      - run:
          name: install tox
          command: pip install --user pygithub pyyaml==3.10
      - run:
          name: upgrade setuptools
          command: pip install --upgrade setuptools
      - run:
          name: install local project
          command: pip install https://github.com/cloudify-incubator/cloudify-ecosystem-test/archive/latest.zip
      - attach_workspace:
          at: workspace
      - run: python .circleci/validate_docs.py

  validate_version:
    steps:
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote --recursive
      - run:
          name: Download pip
          command: curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
      - run:
          name: Install pip
          command: sudo python get-pip.py
      - run:
          name: Install virtualenv
          command: pip install --user virtualenv
      - run:
          name: Init virtualenv
          command: virtualenv env
      - run:
          name: install tox
          command: pip install --user pygithub pyyaml==3.10
      - run:
          name: upgrade setuptools
          command: pip install --upgrade setuptools
      - run:
          name: install local project
          command: pip install https://github.com/cloudify-incubator/cloudify-ecosystem-test/archive/latest.zip
      - attach_workspace:
          at: workspace
      - run: python .circleci/validate_version.py

  build_archive:
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: Create Workspace Build directory.
          command: mkdir -p workspace/build
      - run:
          name: Build Bundle
          command: |
              git clone https://github.com/cloudify-incubator/cloudify-ecosystem-test.git
              pip install -e cloudify-ecosystem-test
              python -c 'from ecosystem_cicd_tools import packaging; packaging.build_plugins_bundle_with_workspace()'
      - persist_to_workspace:
          root: workspace
          paths:
            - build/*

  release_plugin:
    steps:
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote --recursive
      - run:
          name: Download pip
          command: curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
      - run:
          name: Install pip
          command: sudo python get-pip.py
      - run:
          name: Install virtualenv
          command: pip install --user virtualenv
      - run:
          name: Init virtualenv
          command: virtualenv env
      - run:
          name: install tox
          command: pip install --user pygithub pyyaml==3.10
      - run:
          name: upgrade setuptools
          command: pip install --upgrade setuptools
      - run:
          name: install local project
          command: pip install https://github.com/cloudify-incubator/cloudify-ecosystem-test/archive/latest.zip
      - attach_workspace:
          at: workspace
      - run: python .circleci/package_release.py

  merge_docs:
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote --recursive
      - run:
          name: Download pip
          command: curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"
      - run:
          name: Install pip
          command: sudo python get-pip.py
      - run:
          name: Install virtualenv
          command: pip install --user virtualenv
      - run:
          name: Init virtualenv
          command: virtualenv env
      - run:
          name: install tox
          command: pip install --user pygithub pyyaml==3.10
      - run:
          name: upgrade setuptools
          command: pip install --upgrade setuptools
      - run:
          name: install local project
          command: pip install https://github.com/cloudify-incubator/cloudify-ecosystem-test/archive/latest.zip
      - attach_workspace:
          at: workspace
      - run: python .circleci/merge_docs.py

jobs:

  unittests_py27:
    executor: py27
    steps:
      - checkout
      - flake8
      - run_unittests

  unittests_py36:
    executor: py36
    steps:
      - checkout
      - flake8
      - run_unittests

  py3_compat:
    executor: py27
    steps:
      - checkout
      - check_py3_compat

  validate_version:
    executor: py36
    steps:
      - checkout
      - validate_version

  validate_documentation:
    executor: py36
    steps:
      - checkout
      - validate_documentation

  wagon:
    executor: wagon_generator
    steps:
      - checkout
      - generate_py27py36_wagon

  rhel_wagon:
    executor: wagon_generator
    steps:
      - checkout
      - generate_rhel_py27py36_wagon

  build-bundle:
    executor: wagon_generator
    steps:
      - checkout
      - build_archive

  release:
    executor: py36
    steps:
      - checkout
      - release_plugin

  merge_docs:
    executor: py36
    steps:
      - checkout
      - merge_docs

workflows:
  version: 2.1
  tests:
    jobs:
      - py3_compat
      - unittests_py27
      - unittests_py36
      - validate_version
      - validate_documentation
      - wagon:
          filters:
            branches:
              only: /([0-9\.]*\-build|master|dev)/
      - rhel_wagon:
          filters:
            branches:
              only: /([0-9\.]*\-build|master|dev)/
      - build-bundle:
          filters:
            branches:
              only: /master/
          requires:
            - wagon
            - rhel_wagon
      - release:
          filters:
            branches:
              only: /master/
          requires:
            - wagon
            - rhel_wagon
            - unittests_py27
            - unittests_py36
            - validate_version
            - validate_documentation
            - build-bundle
      - merge_docs:
          filters:
            branches:
              only: /master/
          requires:
            - release
            - validate_documentation
